<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Contact Us</title>
    </head>

    <body>
        <h2 class="text-primary container text-center">
            Contact Us
        </h2>
    </br>
        <p class="container text-left">
            Phone: 111111111
        </p>
        <p class="container text-left">
           Mail: tikka_the_dealer@gmail.com
        </p>
        <p class="container text-left">
            Address: USA, Ohio
        </p>
    </body>
</html>